<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <h1>Serve You Right</h1>
        <form class="list">
            <label class="item item-input">
                <input ng-model="loginInfo.email" type="email" placeholder="Email" required="">
            </label>
            <label class="item item-input">
                <input ng-model="loginInfo.password" type="password" placeholder="Password" required="">
            </label>
        </form>
        <button ng-click="login(loginInfo)" class="button button-stable  button-large icon-right ion-android-arrow-dropright button-full">Sign In</button>
    </ion-content>
</ion-view>
