<ion-view title="Menu">
    <ion-content id="menuContent" overflow-scroll="true" padding="true" >
        <form class="list">
            <div class="button-bar">
                <button ui-sref="reviewOrder" class="button button-stable button-block ">Total: {{orderTotal | currency}}</button>
                <a ui-sref="reviewOrder" class="button button-balanced button-block ">Finish Order:{{order.length}}</a>
            </div>
            <button ui-sref="menus" class="button button-royal button-block">Back to Menu List</button>
        </form>
        <ion-list></ion-list>
        <form class="list">

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="searchText" type="search" placeholder="Search items...">
            </label>
        </form>
        <div ng-repeat="item in activeMenuItems | filter:searchText track by $index" class="list card animated slideInUp">
            <div class="item item-divider">{{item.itemName}}</div>
            <div class="item item-body">
                <ion-list></ion-list>
                <div class="button-bar">
                  <button ng-disabled="false" ng-click="addToOrder(item)" ng-init="count=0" class="button button-dark button-block ">Add to Order</button>
                </div>
            </div>
        </div>

        <ion-list></ion-list>
    </ion-content>
</ion-view>
