<ion-view title="Menu">
    <ion-content overflow-scroll="true" padding="true" >
        <form class="list">
            <div class="button-bar">
                <button class="button button-stable button-block ">Total: $13.34</button>
                <a ui-sref="reviewOrder" class="button button-stable button-block ">Finish Order</a>
            </div>
        </form>
        <ion-list></ion-list>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search items...">
            </label>
        </form>
        <div ng-repeat="item in activeMenuItems track by $index" class="list card">
            <div class="item item-divider">{{item.itemName}}</div>
            <div class="item item-body">
                <ion-list></ion-list>
                <div class="button-bar">
                    <button ng-disabled="count == 0;" ng-click="count=count-1; removeFromOrder(item._id, count)" class="button button-assertive button-block ">Remove One</button>
                    <button ng-click="count=count+1; addToOrder(item._id, count)" ng-init="count=0" class="button button-energized button-block ">Add One: {{count}}</button>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>
