<ion-view title="Register">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/DvlQhHFpTXLXPnTCML39_Screen%2520Shot%25202016-02-07%2520at%25203.04.09%2520PM.png) no-repeat center;" scroll="false" class="has-header">
        <h1>Serve You Right</h1>
        <form ng-submit="register(RegInfo)" class="list">
            <label class="item item-input">
                <input ng-model="RegInfo.firstName" type="text" placeholder="First Name" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="RegInfo.lastName" type="text" placeholder="Last Name" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="RegInfo.email" type="email" placeholder="Email" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="RegInfo.password" type="password" placeholder="Password" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="RegInfo.passwordConfirm" type="password" placeholder="Confirm Password" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="RegInfo.storeCode" type="text" placeholder="Store Code" ng-required="true">
            </label>
          <button type="submit" class="button button-stable  button-large icon-right ion-android-arrow-dropright button-full">Register</button>
        </form>
        <span>Already have an account? <a href="/#/login">Login</a></span>
    </ion-content>
</ion-view>
