<ion-view title="Review Order">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/JAXR8UGaShmcWVpPoQVI_Screen%2520Shot%25202016-02-07%2520at%25203.04.09%2520PM.png) no-repeat center;" class="has-header">
        <button class="button button-balanced button-block ">Complete Order</button>
        <form class="list">
            <div>
                <p>
                    <em>Uncheck to remove</em>
                </p>
            </div>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
            <ion-checkbox>Item Name | Count: 3</ion-checkbox>
        </form>
    </ion-content>
</ion-view>