<ion-view title="Review Order">
    <ion-content overflow-scroll="true" padding="true" >
      <ion-header-bar class="bar-positive">
            <div class="buttons">
              <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
            </div>
              <button ng-click="finishOrder()" class="button button-balanced">Complete Order | Total: {{orderTotal | currency}}</button>
            <div class="buttons">
            </div>
          </ion-header-bar>

        <form class="list">
            <div>
                <p>
                    <em>Uncheck to remove</em>
                </p>
            </div>

                <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                  <ion-item ng-repeat="item in order track by $index"
                            item="item"
                            href="#/item/{{item.id}}" class="item-remove-animate">
                    {{item.itemName}} | {{item.itemPrice | currency}}
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="onItemDelete(item)">
                    </ion-delete-button>
                  </ion-item>

                </ion-list>
        </form>
    </ion-content>
</ion-view>
