img.logoImage {
    width: 100%;
}
ion-content#loginContent {
    background: rgb(249, 165, 61);
}
ion-content#menusContent {
    background: orange;
}
ion-content#menuContent {
    background: orange;
}
ion-content#reviewOrderContent {
    background: orange;
}
h3.whiteText {
    color: white;
}
svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    position: relative;
    left: 5%;
}
